/*Author: Andrinique Williams*/
header, main, footer {
max-width: 800px;
margin: auto;
padding: 20px;
font-style: italic;
}

header, footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-family: monospace;
}

main {
    background-color: rgb(221, 139, 242);
}

