/*Author: Andrinique Williams*/
header, main, footer {
max-width: 800px;
margin: auto;
padding: 20px;
font-style: italic;
}

header, footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-family: monospace;
}

main {
    background-color: rgb(221, 139, 242);
}

.discussion-placeholder, .ad-container {
    border: 2px solid black;
    padding: 10px;
    width: 90%;
    height: 100px;
}

.ad {
    text-transform: uppercase;
    text-align: center;
}

