/*Author: Andrinique Williams*/
header, main, footer {
max-width: 800px;
margin: auto;
padding: 20px;
font-style: italic;
}

header, footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-family: monospace;
}

main {
    background-color: rgb(221, 139, 242);
}

.discussion-placeholder, .ad-container {
    border: 2px solid black;
    padding: 10px;
    width: 90%;
    height: 100px;
}

.ad {
    text-transform: uppercase;
    text-align: center;
}

blockquote {
    width: 500px;
    margin: auto;
    padding: 16px;
    border: 2px solid rgb(5, 9, 71);
    border-left-width: 8px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

pre.poem {
    border-style: solid;
    border-color: hsl(271, 30%, 46%);
    border-width: 6px 1px;
    padding: 12px;
    width: 50%;
    margin-left: 16px;
    background-color: hsl(271, 30%, 95%);

}

ol li {
    margin-bottom: 8px;
}

.code-snippet {
    width: 85%;
    margin: auto;
    padding: 10px;
    background-color: hsl(193, 50%, 93%);
    color: hsl(193, 70%, 20%);
    border: 4px double hsl(193, 30%, 46%);
}

pre {
    white-space: pre-wrap;
}

kbd {
    padding: 2px;
    background-color: hsl(0, 0%, 88%);
    border: 1px solid gray;
    border-radius: 3px;
}


cite {
    color: rgb(5, 9, 71);
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 12px auto;
    border: 1px solid black;
  }

  caption {
    margin: 12px;
    font-weight: bold;
  }

  th, td { 
    padding: 8px;
  }

  tr{
    border: 1px solid gray;
  }

  thead tr {
    background-color: whitesmoke;
    border: 1px solid black;
    border-bottom-width: medium;
  }

  colgroup#properties {
    background-color: hsl(0, 0%, 88%);
  }

  colgroup#terrestrial {
    background-color: hsl(193, 50%, 93%);
  }

  colgroup#jovian {
    background-color: hsl(5, 49%, 90%)
  }

  colgroup#dwarf {
    background-color: hsl(350, 80%, 90%);
  }

  #account-creation {
    width: 300px;
    margin: auto;
    font-family: Verdana, Geneva, sans-serif;
    background-color: white;
    padding: 20px;
  }

  #account-creation fieldset {
    padding: 24px;
  }

  #account-creation legend {
    text-transform: uppercase;
    padding: 0 30px;
    text-align: center;
  }

  #account-creation .field-group {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  #account-creation .field-group label {
    display: block;
    margin: 8px auto;
  }

  #account-creation .field-group input {
    width: 95%;
    display: block;
    height: 20px;
  }

  #account-creation button {
    padding: 4px 8px;
    margin: 8px 4px;
  }

  